[submodule "Mimou/vendor/spdlog"]
	path = Mimou/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mimou/vendor/GLFW"]
	path = Mimou/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Mimou/vender/imgui"]
	path = Mimou/vender/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Mimou/vendor/imgui"]
	path = Mimou/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Mimou/vendor/glm"]
	path = Mimou/vendor/glm
	url = https://github.com/g-truc/glm
